version: 2.0.{build}
image: Visual Studio 2022
environment:
  main_project: component
before_build:
- ps: nuget restore
init:
- REG ADD "HKLM\Software\Microsoft\Command Processor" /v Autorun /t REG_SZ /d "chcp 65001>nul" /f
- ps: Set-WinSystemLocale ru-RU
- ps: Start-Sleep -s 5
- ps: Restart-Computer
install:
- cmd: >-
    mkdir engine

    cd engine

    appveyor DownloadFile https://oscript.io/downloads/preview/OneScript-2.0.0-rc.10-fdd-x64.zip -FileName fdd.zip

    7z x fdd.zip > NUL

    set PATH=%cd%\bin;%PATH%

    cd ..

    oscript -version

    opm install opm

build:
  verbosity: minimal
configuration: Release
test_script:
- cmd: nunit3-console NUnitTests\bin\%CONFIGURATION%\net6.0\NUnitTests.dll --result=myresults.xml;format=AppVeyor
- cmd: oscript testcomponent.os

after_build:
- cmd: >-

    set PUBLISH=%main_project%\bin\%CONFIGURATION%\net6.0\publish

    dotnet publish --no-build --configuration %CONFIGURATION%

    del %PUBLISH%\*.pdb

    mkdir -p oslib\Components\dotnet
    
    del %PUBLISH%\ScriptEngine*.* %PUBLISH%\NewtonSoft*.* %PUBLISH%\DotNetZip*.* %PUBLISH%\OneScript*.*
    
    xcopy %PUBLISH%\* oslib\Components\dotnet\
    
    cd oslib

    opm build .
    
    for %%X in (*.ospx) do (opm install -f %%X )
    
    cd ..

artifacts:
- path: .\oslib\*.ospx
  name: component
